<div class="form-group">
    <label for="newpassword">New Password</label>
    <input
      type="text"
      class="form-control"
      name="newpassword"
      [(ngModel)]="form.newpassword"
      required
      #username="ngModel"
    />
  </div>
  <div class="form-group">
    <label for="confirmpassword">Confirm Password</label>
    <input
      type="confirmpassword"
      class="form-control"
      name="confirmpassword"
      [(ngModel)]="form.confirmpassword"
      required
      minlength="6"
      #password="ngModel"
    />
  </div>